body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.message {
  position: absolute; 
  top: 5rem;
  background: lightgrey;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
  border-style: solid;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  justify-content: center;
}

.view {
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 50%;
}

.entries { 
  width: 75%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.entry {
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
}

.delete-entry {
  color: white;
  background-color: red;
  outline: none;

  border: none;
  border-radius: 5px;
  margin-left: auto;
  height: 2.5rem;
  width: 2.5rem;
}

.info > * { 
  padding: 0.25rem;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

.number {
  color: grey;
}

.filter {
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: grey;
}

.filter > input { 
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.filter > .search-icon { 
  font-size: 0.75rem;
  margin-left: .5rem;
}

.contact-header-row { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.contact-header-row > button {
  background-color: #1FB1F8;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.phone-icon { 
  font-size: 0.75rem;
}

.phone-number::before {
  content: " "
}

.add-modal {
  position: fixed;
  display: none;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.add-modal.active { 
  display: block;
}

.modal-content { 
  position: relative;
  background-color: #fefefe;
  margin: 7rem auto;
  padding: 20px;
  border: 1px solid grey;
  width: max(250px, 40%);
}

.close {
  position: absolute;
  color: #aaa;
  top: 0;
  right: 0;
  padding-right: 0.75rem;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item > * {
  box-sizing: border-box;
  width: 75%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.form-item > button {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: #1FB1F8;
}


@media only screen and (max-width: 650px) {
  .view {
    width: 100%;
  }
}

@media only screen and (min-width: 400px) {
  .contact-header-row > button > span:after {
    content: ' Add Contact'
  }
}